{
  "extends": "eslint:recommended",
  "env": {
	"browser": true,
	"node": true,
	"jasmine": true
  },
  "globals": {
	"Promise": true,
	"google": true,
	"firebase": true,
	"isIE": true,
	"ko": true,
	"loadJSON": true,
	"loadScript": true
  },
  "rules": {
	"indent": [
	  "off"
	],
	"linebreak-style": [
	  "error",
	  "unix"
	],
	"no-unused-vars": [
	  "error",
	  {
		"vars": "local"
	  }
	],
	"quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
	"semi": [
	  "error",
	  "always"
	]
  }
}